.vs/
**/Debug/
**/Release/
**/Build/
/Project/DuckEngine/Build/Debug

# Ignore the game log file
game_log.txt
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.vcxproj.FileListAbsolute.txt
/Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.tlog
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.Build.CppClean.log
*.obj
*.tlog
*.lastbuildstate
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.vcxproj.FileListAbsolute.txt
*.log
*.pdb
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.lib
