.vs/
**/Debug/
**/Release/
**/Build/
/Project/DuckEngine/Build/Debug

# Ignore the game log file
game_log.txt
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.vcxproj.FileListAbsolute.txt
/Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.tlog
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.Build.CppClean.log
*.obj
*.tlog
*.lastbuildstate
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.vcxproj.FileListAbsolute.txt
*.log
*.pdb
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.lib
Project/DuckEngine/Scripting/ManagedScript/obj
Project/DuckEngine/Scripting/ScriptingAPI/x64/EditorRelease/ScriptingAPI.assets.cache
Project/DuckEngine/Game/lib/EditorDebug/Quack_Kitchen.lib
Project/DuckEngine/Game/lib/EditorDebug/Quack_Kitchen.vcxproj.FileListAbsolute.txt
Project/DuckEngine/Scripting/ScriptingAPI/x64/EditorDebug/ScriptingAPI.assets.cache
Project/DuckEngine/Game/lib/EditorDebug/Quack_Kitchen.lib.recipe
Project/DuckEngine/Scripting/ScriptingAPI/obj
Project/DuckEngine/Game/lib/EditorRelease/Quack_Kitchen.lib.recipe
Project/DuckEngine/Game/Quack_Kitchen/Resources

# Ignore agents info stuff
/.agents/

# Generated release staging and installer output
/Installer/GAMEDIRECTORY/
/Installer/REDIST/
/Installer/INSTALLER/
__pycache__/
*.py[cod]
