.vs/
**/Debug/
**/Release/
**/Build/
/Project/DuckEngine/Build/Debug

# Ignore the game log file
game_log.txt
/Project/DuckEngine/Scripting/ManagedScript
/Project/DuckEngine/Scripting/ScriptingAPI
/Project/DuckEngine/Scripting
