[Desktop Entry]
Type=Application
Name=Quack Kitchen
Comment=Run a busy kitchen as a determined little duck
Exec=quack-kitchen
Icon=edu.digipen.QuackKitchen
Categories=Game;
Terminal=false
StartupNotify=true
